/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

 .container {
    margin: 0 auto;
    width: 960px;
 }
body {
    margin: 0;
    background: #FFF1D6 url(images/noise.png);
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    line-height: 1.6;
}

.place {
    background-color: #FFF;
    border-color: #CCC #999 #999 #CCC;
    border: 1px solid #CCC;
    margin-bottom: 20px;
    padding: 10px;
}

.place h2 {
    border-bottom: 1px dashed #7E9F19;
    margin: 0;
}

.clear {
    clear: both;
}
/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background: transparent;
}

.place a {
    color: #2C88A7;
    font-weight: bold;
}
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h1 a {
    color: #7E9F19;
    text-decoration: none;
}

h1 a:hover {
    background-color: #7e9f19;
    color: #FFF;

}

img {
    border: 0;
}

.place img {
    border: 1px solid #7E9F19;
    float: left;
    margin: 10px 10px 0 0;
    padding: 2px;
}

.footer {
    font-size: 12px;
    text-align: center;
 }

 .sidenote {
    background-color: #FFFBE4;
    border: 1px solid #C9BC8F;
    float: right;
    padding: 10px;
    width: 260px;
}

.sidenote h3 {
    font-size: 14px;
    margin-top: 0;
}

.sidenote ol {
    font-size: 12px;
    }

.places {
    float: left;
    width: 660px;
}